# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.local
Homestead.json
Homestead.yaml
.phpunit.result.cache

# Vite / Build Output
/public/build
/resources/scss/*.css
/resources/scss/*.css.map

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db


